.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.userName {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  gap: 3rem;
}

.imageContainer {
  flex: 0 0 auto;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.details {
  flex: 1;
}

.info {
  margin-bottom: 2rem;
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.description {
  line-height: 1.8;
}

.noTasksMessage {
  margin-top: 40px;
  padding: 20px;
  text-align: left;
}

.noTasksMessage p {
  margin-top: 20px;
  color: #666;
  font-size: 1.1rem;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* スマホ表示 */
@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .imageContainer {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .userName {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .info p {
    margin-bottom: 1.5rem;
  }
}
